In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns = cols)

df

    A   B   C   D   E
0  11  13   2  12   4
1   8   8  18  12   9
2  19  15   2   5  11
3  17   4  15  10   4
4  14  11  14   3  18
5   5   1   2  12  19
6  11  13   4   4  10
7  13   7   6  15  13
8  18   4   7  15   3
9  17  16   9  18   6

Mengecek shape data frame

In [3]:
df.shape

(10, 5)

In [5]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi) #method yang mengambil baris secara acak 70% berdasarkan proporsi
df_2 = df.drop(df_1.index)#hapus berdasarkan df_1 index / sisa 30% nya

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

Proses pembagian data frame acak

In [6]:
df_1

    A   B   C   D   E
5   5   1   2  12  19
7  13   7   6  15  13
3  17   4  15  10   4
9  17  16   9  18   6
4  14  11  14   3  18
0  11  13   2  12   4
8  18   4   7  15   3

In [7]:
df_2

    A   B   C   D   E
1   8   8  18  12   9
2  19  15   2   5  11
6  11  13   4   4  10