In [2]:
import pandas as pd

print(pd.__version__)

1.3.4

In [5]:
df = pd.read_csv(r"C:\GITHUB\statistics\kaggle_explorations-master\belajar_matplotlib_dasar\data\titanicfull.csv") #load data set menjadi format dataframe menggunakan function read_csv , di dalam kurang posisi/lokasi dari file titanic
df.columns = ['Pclass', 'Survival status','full name','Sex','Age','Sib SP','Parch','Ticket','Fare','Cabin','Embarked']

df_backup = df.copy(deep=True)

df.head()

,Pclass,Survival status,full name,Sex,Age,Sib SP,Parch,Ticket,Fare,Cabin,Embarked
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S

replace('string yang ingin diganti','hasil string yang akan diganti')

In [7]:
df_columns = df.columns.str.replace(' ','_').str.lower() #lower() = lowercase

df.head()

NameError: name 'df' is not defined

Memangkas kelebihan spasi pada nama kolom

In [8]:
df = df_backup.copy(deep=True)

df.columns = df.columns.str.lower().str.replace(' ','_')
df.head()

NameError: name 'df_backup' is not defined