Melakukan seleksi kolom dan baris pada Data Frame menggunakan LOC

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns = cols)

df

    A   B   C   D   E
0  18   8  14   8  11
1   4   3  19  12  16
2   7  19  15   2   7
3   3  11   7  12  17
4  18   9  10  19   9
5  11   8   8  17   1
6  13   7   7  16   3
7   7  11   6   7  14
8   3   8  18  12  15
9  11   7   6  17   5

Seleksi kolom dan baris menggunakan LOC
df.loc[[bagian pertama untuk mengatur baris],[kolom]]

In [3]:
df.loc[[0,3,4],['B','E']]

    B   E
0   8  11
3  11  17
4   9   9

Seleksi baris dengan kondisi

In [4]:
df.loc[df['B'] > 10, ['B','D','E']] #syarat terhadap baris yg dipilih, baris yang nilai kolom B nya di atas 10
#kalau mengacu pake sql df.loc[[where],[select]]

    B   D   E
2  19   2   7
3  11  12  17
7  11   7  14

Slicing data frame dengan LOC

In [5]:
df.loc[0:4, 'B':'D'] #baris dan kolom pada loc bersifat inclusive (turut disertakan)

    B   C   D
0   8  14   8
1   3  19  12
2  19  15   2
3  11   7  12
4   9  10  19